{% extends 'base.html' %}
{% block title %}O autorze{% endblock %}
{% block content %}
    <div class="about-author"></div>
        <p>Cześć! Nazywam się Tetiana Bolyukh i jestem studentką Informatyki Stosowanej na Uniwersytecie 
            Ekonomicznym w Krakowie. Pasjonuję się tworzeniem stron internetowych oraz realizacji 
            małych projektów, co stanowi dla mnie źródło inspiracji i motywacji do dalszego rozwoju 
            zawodowego.<br>Projekt ten został zrealizowany w ramach zajęć z Programowania 
            Komputerów, a ja samodzielnie dopracowałam wszystkie szczegóły.</p>
        <p>Tutaj możesz zobaczyć wszystkie moje projekty: <a href="https://github.com/TetianaBolyukh">link do profilu na github</a></p>
    </div>
{% endblock %}