{% extends 'base.html' %}
{% block title %}Wykresy dla {{ product_name }}{% endblock %}
{% block content %}
    <h2>Wykresy opinii dla produktu {{ product_name }}</h2><br>
    <div class="row">
        <div class="col-md-6 text-center">
            <h3>Rekomendacje</h3>
            <img src="{{ url_for('static', filename='images/charts/' + product_id + '_pie.png') }}" alt="Rozkład rekomendacji" class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-6 text-center">
            <h3>Oceny gwiazdkowe</h3>
            <img src="{{ url_for('static', filename='images/charts/' + product_id + '_bar.png') }}" alt="Liczba opinii z gwiazdkami" class="img-fluid img-thumbnail">
        </div>
    </div>

{% endblock %}