{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}
<ol>
    <li>Cel aplikacji</li>
    <p>Aplikacja służy do pobierania z serwisu Ceneo.pl opinii o produktach na podstawie ich indywidualnych kodów
        oraz do wyświetlenie pobranych opinii i podstawowych statystyk o nich.</p>
    <li>Opis działania aplikacji</li>
    <p>Użytkownik podaje kod produktu, a aplikacja pobiera opinie ze strony Ceneo.pl. Dane są zapisywane w formacie 
        JSON i wyświetlane w tabeli z opcjami eksportu. Interfejs jest prosty, z menu ułatwiającym nawigację.</p>
    <li>Zastosowane biblioteki</li>
    <p><b>Python</b>,
<b>Flask</b>: tworzy strukturę strony i obsługuje żądania,
<b>BeautifulSoup</b>: pobiera dane ze stron Ceneo.pl,
<b>Pandas</b>: przetwarza i analizuje dane,
<b>Requests</b>: wysyła zapytania do witryn,
<b>DataTables</b>: formatuje tabele z opiniami,
<b>Bootstrap</b>: stylizuje stronę.</p>
    <li>Zastosowane podejścia</li>
    <p>Web scraping,
modularna struktura, przetwarzanie danych: użycie pandas do statystyk,
interfejs użytkownika: design z Bootstrapem,
eksport danych.</p>
</ol>
{% endblock %}